/* ArtRabs Design/* ======================
      ArtRabs Design
====================== */


* {

    box-sizing: border-box;

}


body {

    margin:0;

    padding:0;

    background:
    radial-gradient(
        circle at top,
        #222233,
        #09090d
    );

    color:white;

    font-family:
    Arial,
    sans-serif;

}





.app {

    max-width:430px;

    min-height:100vh;

    margin:auto;

    padding:20px;

    padding-bottom:100px;

}







header {

    text-align:center;

}



header h1 {


    color:#FFD700;

    font-size:40px;

    letter-spacing:3px;

    text-shadow:
    0 0 10px #FFD700;


}








/* БАЛАНС */


.balance {


    display:flex;

    gap:10px;

    margin-top:20px;


}



.card {


    flex:1;


    background:
    linear-gradient(
        145deg,
        #20202c,
        #121218
    );


    border-radius:20px;


    padding:20px 10px;


    text-align:center;


    border:

    1px solid #333;


    font-size:15px;


}




.card span {


    display:block;


    margin-top:10px;


    font-size:28px;


    color:#FFD700;


}










/* СТРАНИЦЫ */


.page {


    display:none;


    margin-top:20px;


}








/* КЛИКЕР */


.clicker {


    background:#171722;


    border-radius:25px;


    padding:25px;


    text-align:center;


    border:

    1px solid #30303d;


}



.worker-image {


    font-size:90px;


}





.clicker h2 {


    color:#a855f7;


}





button {


    width:100%;


    padding:16px;


    margin-top:15px;


    border:none;


    border-radius:15px;


    background:

    linear-gradient(
        135deg,
        #9333ea,
        #6d28d9
    );


    color:white;


    font-size:16px;


    font-weight:bold;


}




button:active {


    transform:scale(.96);


}










/* БОНУС */


.bonus {


    background:#171722;


    margin-top:20px;


    padding:20px;


    border-radius:20px;


    text-align:center;


}






/* РАБОТНИКИ */


.worker-card {


    background:

    linear-gradient(
        145deg,
        #1e1e2a,
        #111118
    );


    border-radius:20px;


    padding:20px;


    border:

    1px solid #333;


}



.worker-card h3 {


    color:#FFD700;


}








/* КАРТОЧКИ РАЗДЕЛОВ */


.page {


    background:#15151e;


    padding:20px;


    border-radius:20px;


}




.page h2 {


    color:#FFD700;


}







/* НИЖНЕЕ МЕНЮ */


.menu {


    position:fixed;


    bottom:15px;


    left:50%;


    transform:translateX(-50%);


    width:95%;


    max-width:430px;


    display:grid;


    grid-template-columns:
    repeat(5,1fr);


    gap:5px;


    background:#111118;


    padding:10px;


    border-radius:25px;


    border:

    1px solid #333;


}





.menu button {


    background:#22222d;


    padding:12px 5px;


    font-size:11px;


    margin:0;


}





.menu button:hover {


    background:#9333ea;


}







/* АНИМАЦИИ */


@keyframes pulse {


0%{

transform:scale(1);

}


50%{

transform:scale(1.05);

}


100%{

transform:scale(1);

}


}



.clicker button {


    animation:pulse 2s infinite;


} */
